#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#myCartBtn {
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2),
    0px 4px 8px rgba(41, 121, 255, 0.2);
}
